.back {
    background-image: linear-gradient(grey, black 30%);
}



#logo {
    margin-left: 0px;
}

.head {
    background-color: black;
    margin-left: 0%;
}

.pages {
    padding-right: 100px;
    padding-left: 100px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.info {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    /*font-size: 30px;*/
    padding-left: 18px;
}

.titre {
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text {
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding-left: 20px;
}

#contenuTitre {
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.centrer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#vertical-line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    width: 1px;
    min-height: 400px;
    background: white;
}

.presentation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: baseline;
}

.image {
    border-radius: 6cap;
    padding: 45px;
}

.ligne-horz {
    width: 1400px;

}

.audio {
    padding-left: 575px;
    padding-top: 40px;
}

.title {
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding-left: 20px;
    font-weight: bold;
}

.main-title {
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding-left: 40px;
    padding-top: 15px;
    font-weight: bold;
}

.fnaf-banner {
    padding-left: 350px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#fnaf {
    padding-left: 20px;
    color: #FFF;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Saira Condensed', sans-serif;
   
}
.synopsis {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: top;    
    padding-left: 20px;
   
}

.titre-reseau {
    padding-left: 450px;
    padding-top: 50px;

}

.titre-compte {
    padding-left: 300px;
    padding-top: 55px;

}

.image-reseau {
    padding-left: 465px;
    padding-top: 20px;
}

.text-reseau {
    color: lightgray;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: 28px;
    padding-left: 10px;
    text-align: left;
    padding-top: 20px;
    font-weight: 100;
}

.text-compte {
    color: lightgray;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding-left: 283px;
    line-height: 30px;
    text-align: left;
    font-weight: 100;
    padding-bottom: 60px;
}